* {
    margin: 0 auto;
    padding: 0;
    font-family: "맑은 고딕";
    color: #222328;
    list-style: none;
    box-sizing: border-box;
}
body {
    width:1000px;
    background-color: #fff;
    font-size: 20px;
}
header {
    float: left;
    width: 200px;
    height: 650px;
}
#logo {
    float: left;
    width:200px;
    height: 75px;
    /* background-color: coral; */
}
.menu {
    float: left;
    width: 180px;
    height: 500px;
    text-align: center;
    margin-left: 10px;
    /* background-color: darkgreen; */
}
.navi>li{
    background-color: black;
    color: white;
    padding: 10px 0;
}
.navi>li:hover{
    background-color: rgb(133, 6, 6);
    color: yellow !important;
    padding: 10px 0;
}
.navi>li>a{
    color: white;
    text-decoration: none;
}
.navi>li>a:hover{
    color: yellow;
    text-decoration: none;
}
.submenu{
    display: none;
}
.submenu>li{
    background-color: #bbb;
}
.submenu>li:hover{
    background-color: black;
}
.submenu>li>a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.imgslide{
    float: right;
    width:800px;
    height:350px;
    background-color: antiquewhite;
    position: relative;
}
.imgslide>a{
    display: block;
    position: absolute;
    left:0;
    top:0;
}
.imgtext{
    position: absolute;
    width:300px;
    height:50px;
    line-height: 50px;
    color:white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: -25px 0 0 -150px;
    left:50%;
    top:50%;
}
#contents {
    float: right;
    width: 800px;
    height: 200px;
    background-color: aquamarine;
}
.notice{
    float: left;
    width:300px;
    height: 200px;
}
.tab{
    float: left;
    width: 300px;
}
.tab h4{
    float: left;
    height: 30px;
    width: 80px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color:#fff;
    background-color: #000;
}
.notice>div{
    width: 280px;
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.notice ul {
    float: left;
    height: 30px;
    width: 280px;
    line-height: 30px;
    font-size: 14px;
}
.notice li span {
    float: right;
}
.notice li:nth-child(2n){
    background-color: #ccc;
}
.notice li:hover{
    font-weight: bold;
}
.gallery{
    float: left;
    width:300px;
    height: 200px;
}
.gallery>div{
    width: 280px;
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.gallery ul {
    float: left;
    height: 30px;
    width: 280px;
    line-height: 30px;
    font-size: 14px;
}
.gallery li:hover{
    font-weight: bold;
}
.shortcut{
    float: left;
    width:200px;
    height: 200px;
}
footer {
    float: right;
    width: 800px;
    height: 100px;
    background-color: brown;
}
.copy{
    float: left;
    width: 600px;
    height:100px;
}
.sns{
    float: right;
    width:200px;
    height:50px;
}
.family{
    float: right;
    width:200px;
    height:50px;
}